<mat-toolbar color="primary">
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="onSidenavToggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div><a routerLink="/">Logo</a></div>
  <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
    <ul fxLayout fxLayoutGap="15px" class="navigation-list">
      <ng-container *ngFor="let link of navigationLinks">
        <li *ngIf="display(link.label)">
          <a [routerLink]="link.route">{{ link.label }}</a>
        </li>
      </ng-container>
      <a *ngIf="display('Logout')">Logout</a>
    </ul>
  </div>
</mat-toolbar>
