mat-sidenav-container,
mat-sidenav,
mat-sidenav-content {
  height: 100%;
}

mat-sidenav {
  width: 15.625rem
}

a {
  text-decoration: none;
  color: #ffffff;
}

a:hover,
a:active {
  color: lightgray;
}

.navigation-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-caption {
  display: inline-block;
  padding-left: 6px;
}
